<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='//fonts.googleapis.com/earlyaccess/notosanstc.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src="/javascripts/jquery-3.2.1.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</head>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Conquiz.tw</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Subjects</a></li>
        <li><a href="#">Tags</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Popular <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Vocabulary 4500</a></li>
            <li><a href="#">Kuso 英文法</a></li>
            <li><a href="#">TOEIC</a></li>
            <li class="divider"></li>
            <li><a href="#">Show more ...</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="form" action="/" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="email" placeholder="Email">
          <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default" value = "signin">Sign in</button>
        <button type="submit" class="btn btn-default" value = "signup">Sing up</button>
      </form>
    </div>
  </div>
</nav>
