<!DOCTYPE html>
<html>
<% include header.ejs %>
<body>
  <div class="container">

    <% if(locals.error){ %>
      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oops! <%= error %></strong>
      </div>
    <% } %>

    <% if(locals.success){ %>
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><%= success %></strong>
      </div>
    <% } %>

    <div class="jumbotron">
      <h1>Conquiz</h1>
      <p>Share questions with the world</p><br>
      <h4>1. Create your question set or pay with credit card to get $Q.</h4>
      <h4>2. Use $Q to buy question sets.</h4>
      <h4>3. Print test paper and torture students!</h4>
    </div>
  </div>
</body>
</html>
