<!DOCTYPE html>
<html>
<% include header.ejs %>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>Share questions with the world</p><br>
      <h4>1. Upload your questions or pay with credit card to get $Q.</h4>
      <h4>2. Use $Q to buy question sets.</h4>
      <h4>3. Print test paper and torture students!</h4>
    </div>
  </div>
</body>
</html>
